parameters:
    level: 1
    phpVersion: 80400
    tmpDir: cache/phpstan
    paths:
        - ../../application
        - ../../addons
        - ../../extend
        - ../../config
        - ../../route
        - ../../index.php
        - ../../api.php
        - ../../admin.php
        - ../../install.php
        - ../../bin
        - ../../deploy
        - ../../migration
    excludePaths:
        analyseAndScan:
            - ../../extend/upyun/vendor
    bootstrapFiles:
        - ../../vendor/autoload.php
    stubFiles:
        - think-facades.stub
    dynamicConstantNames:
        ENTRANCE: "'index'|'admin'|'api'|'install'"
        MAC_PATH: string
        MAC_PAGE_SP: string
        MAC_PLAYER_SORT: mixed
        MAC_MOB: 0|1
        MAC_START_TIME: float
        THIRD_LOGIN_CALLBACK: string
    scanFiles:
        - runtime-constants.php
        - ../../vendor/topthink/framework/src/helper.php
        - ../../vendor/topthink/think-helper/src/helper.php
        - ../../vendor/topthink/think-captcha/src/helper.php
        - ../../vendor/topthink/think-orm/src/helper.php
        - ../../vendor/topthink/think-validate/src/helper.php
